/*.test {
  width: 1100px;
  height: 3028px;
  position: absolute;
  top: 0;
  left: 723px;
  margin: auto;
  background-image: url(../fff.png);
  opacity: 0.2;
  background-size: 100%;
  z-index: 100;
}*/

body {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

a {
  text-underline-offset: 4px;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
  align-items: center;
  gap: 30px;
  padding: 92px 50px;
}

.header__navigation__list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__navigation__list-item:nth-child(1) {
  list-style: none;
}

.header__navigation__list-link {
  font-size: 18px;
  white-space: nowrap;
}

.header__logo {
  justify-self: start;
}

.header__logo-image {
  height: 105px;
  margin-left: 12px;
}

.header__address {
  padding-right: 10px;
}

.header__address-item {
  font-style: normal;
  display: block;
  font-size: 18px;
  line-height: 1.35;
}

.header__address-link {
  white-space: nowrap;
}

.cover {
  position: relative;
  z-index: 0;
  padding: 165px 20px 0 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 106px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title-item {
  display: block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 50px 0;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 0.87em;
}

.cover__description-button {
  border: 1px #fff solid;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  color: #fff;
  line-height: 1.2;
  padding: 180px 24px 120px;
}

.lots__titile {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  padding: 48px 40px;
  position: relative;
  z-index: 2;
}

.card {
  height: 100%;
  display: grid;
  align-content: space-between;
  gap: 35px;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-underline-offset: 2px;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  line-height: 23px;
}